@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bgImg {
  position: relative;
  overflow: hidden;
}

.bgImg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../../public/fourseasons.png');
  background-size: cover;
  background-position: center;
  filter: blur(1px) brightness(0.8);
  transform: scale(1.05); 
  z-index: 0;
}

.bgImg::after { 
  content: ""; 
  position: absolute; 
  inset: 0; 
  background: rgba(255, 255, 255, 0.3); 
  z-index: 0; 
}

.bgImg > * {
  position: relative;
  z-index: 1;
}
